@{
    ViewBag.Title = "NewPost";
    Layout = null;
}
@model MyForum.Viewmodel.ArticlesContainer
<div class="row container" ng-controller="NewPostCtrl" id="NewPostCtrl">
    <div class="col-md-8">
        <h2 class="title">create new post</h2>
        <div class="articleContainer">
            <div class="row">
                <div class="col-md-12">
                    <form role="form" class="form-horizontal form-group" style="padding:30px;">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Title: @Model.SelectedArticle.Title</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Post Title" value="@Model.SelectedArticle.Title" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Short Description</label>
                            <textarea class="form-control" id="exampleInputEmail1" ng-model="ShortDescription" placeholder="Short Description" maxlength="200" rows="2">@Model.SelectedArticle.ShortDescription</textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Content</label>
                            <textarea class="form-control" rows="10" id="exampleInputEmail1" ng-model="Description" placeholder="Post Content"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="rdoTellAll" /><label for="rdoTellAll">Notify all team members</label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <button type="submit" class="btn btn-default col-md-5" ng-click="createPost()">Create Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2 class="title">&nbsp;</h2>
        <div class="articleContainer">
            <h5 class="widgetTitle">Category</h5>
            <div class="content">
                <div class="input-group">
                    <ul>
                        @foreach (var item in Model.Categories)
                        {
                        <li><input type="checkbox" id="@item.UID" name="selectedCategories" /><label for="@item.UID"> @item.CategoryName</label></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="articleContainer">
            <h5 class="widgetTitle">Tags</h5>
            <div class="content">
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Post Title">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        var $scope = angular.element($("#NewPostCtrl")).scope();
        //$scope.init(a);
        var a=@Html.Raw(Json.Encode(Model.SelectedArticle));
    });
</script>